<!-- No log status and events of logback -->
<!-- Scan configuration changes in the properties file each 30 seconds -->
<configuration debug="false" scan="true" scanPeriod="30 seconds">

  <property resource="authorization.properties" />
  <property file="/opt/epopeia-authorization/config/authorization.properties" />

  <!-- APPENDERS -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${logback.file}</file>
    <encoder>
      <pattern>${logback.pattern}</pattern>
    </encoder>
  </appender>

  <appender name="LOGSTASH" class="ch.qos.logback.core.FileAppender">
    <file>${logback.logstash.file}</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <!-- LOGGERS -->
  <root level="${logback.level}">
  	<appender-ref ref="FILE"/>
  </root>

  <logger name="io.epopeia.authorization.participant.LogStash" additivity="false" level="INFO">
    <appender-ref ref="LOGSTASH" />
  </logger>

</configuration>
